name: release-android

on:
  workflow_run:
    workflows: ["flutter-ci"]
    types: [completed]
  push:
    tags:
      - "v*.*.*"

jobs:
  build-android:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"

      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true

      - uses: android-actions/setup-android@v3

      - name: Install Android SDK components
        run: |
          sdkmanager --install "platforms;android-35" "build-tools;35.0.0" || true
          sdkmanager --install "platforms;android-34" "build-tools;34.0.0" || true
          yes | sdkmanager --licenses

      - name: Build Android APK
        run: |
          cd frontend
          flutter pub get
          flutter build apk --release

      - name: Create GitHub Release & attach APK
        uses: softprops/action-gh-release@v2
        with:
            tag_name: ${{ github.ref_name }}   # nutzt das Tag, z.B. v0.2.0
            name: Release ${{ github.ref_name }}
            files: frontend/build/app/outputs/flutter-apk/app-release.apk
            draft: false
            prerelease: false
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload APK
        uses: actions/upload-artifact@v6
        with:
          name: app-release.apk
          path: frontend/build/app/outputs/flutter-apk/app-release.apk
